<template>
  <div>
    <Post
      v-for="post in posts"
      :key="post.id"
      :id="post.id"
      :title="post.title"
      :imageUrl="post.image"
      outlined
      tile
      class="mb-2"
    ></Post>
  </div>
</template>

<script>
import Post from '@/components/posts/Post'

export default {
  components: { Post },
  props: {
    posts: {
      type: Array,
      default: () => []
    }
  }
}
</script>
