<template>
  <v-card :to="'/posts/' + id" nuxt hover ripple>
    <v-card-title>{{ title }}</v-card-title>
    <v-img :src="image"></v-img>
    <v-card-subtitle>
      <v-icon>mdi-message</v-icon>20 Comments <v-icon>mdi-heart</v-icon>10 Likes
    </v-card-subtitle>
    <v-card-actions @click.prevent>
      <v-btn @click="goToPost" color="orange" text nuxt>Explore</v-btn>
      <v-spacer></v-spacer>
      <v-btn color="orange" text class="text-center">Share</v-btn>
      <v-btn @click="liked = !liked" :class="{ 'red--text': liked }" icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: 1
    },
    title: {
      type: String,
      default: ''
    },
    imageUrl: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      liked: false
    }
  },
  computed: {
    image() {
      return this.imageUrl !== null ? this.imageUrl : ''
    }
  },
  methods: {
    goToPost() {
      this.$router.push('/posts/' + this.id)
    }
  }
}
</script>
