<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-card-title>Android</v-card-title>
          <v-card-text
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
            voluptatem mollitia alias quod veritatis veniam, temporibus cumque!
            Esse, reprehenderit, similique laboriosam libero repellendus, magni
            id cumque consequuntur ducimus aperiam excepturi. Vero debitis
            quibusdam, minima quos quia placeat ad maxime reiciendis quaerat
            nisi facilis? Consequatur quod rerum, voluptatibus repellat dolor
            commodi veniam beatae officiis quam dolorum, ipsa ullam repudiandae
            laborum natus. Ipsum maxime maiores vel officiis, mollitia dolore
            optio reiciendis iusto sapiente nulla. Delectus suscipit minima
            accusamus vero corporis assumenda repellendus alias nemo maiores,
            voluptate quae voluptatum labore id, ea optio.</v-card-text
          >
          <v-card-actions @click.prevent>
            <v-btn color="orange" text>Explore</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="red" text>Subscribe</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col md="6">
        <v-card>
          <v-overflow-btn
            :items="postSorting"
            label="Sorty By"
            value="Populair"
          ></v-overflow-btn>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col md="6">
        <Posts :posts="posts"></Posts>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Posts from '@/components/posts/Posts'

export default {
  components: { Posts },
  data() {
    return {
      postSorting: ['Populair', 'Top', 'Controversial', 'Newest', 'Oldest'],
      posts: [
        {
          id: 1
        },
        {
          id: 2
        },
        {
          id: 3
        },
        {
          id: 4
        },
        {
          id: 5
        }
      ]
    }
  }
}
</script>
