<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-card-title>Communities</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col md="6">
        <v-card>
          <v-overflow-btn
            :items="communitySorting"
            label="Sorty By"
            value="Populair"
          ></v-overflow-btn>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-list-item
            v-for="community in communities"
            :key="community.id"
            :to="'/communities/' + community.id"
            nuxt
            two-line
          >
            <v-list-item-content>
              <v-list-item-title>{{ community.title }}</v-list-item-title>
              <v-list-item-subtitle>
                <v-row justify="space-between">
                  <v-col md="3" sm="4">
                    <v-icon>mdi-post</v-icon> Posts {{ community.posts }}</v-col
                  >
                  <v-col md="3" sm="4">
                    <v-icon>mdi-account-group</v-icon>
                    Users {{ community.users }}
                  </v-col>
                </v-row>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      communitySorting: ['Populair', 'Top', 'Growing', 'Newest', 'Oldest'],
      communities: [
        {
          id: 1,
          title: 'Android',
          users: 22,
          posts: 100
        },
        {
          id: 2,
          title: 'iOS',
          users: 10,
          posts: 40
        },
        {
          id: 3,
          title: 'Web Dev',
          users: 30,
          posts: 11
        },
        {
          id: 4,
          title: 'Web Design',
          users: 5,
          posts: 12
        },
        {
          id: 5,
          title: 'Software Dev',
          users: 12,
          posts: 17
        },
        {
          id: 6,
          title: 'Game Dev',
          users: 13,
          posts: 197
        }
      ]
    }
  }
}
</script>
