<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-card-title>Categories</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-list-item
            v-for="category in categories"
            :key="category.id"
            :to="'/categories/' + category.id"
            nuxt
          >
            <v-list-item-title>{{ category.title }}</v-list-item-title>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      categories: [
        {
          id: 1,
          title: 'Pics'
        },
        {
          id: 2,
          title: 'Gifs'
        },
        {
          id: 3,
          title: 'Videos'
        },
        {
          id: 4,
          title: 'Tech'
        },
        {
          id: 5,
          title: 'Gaming'
        },
        {
          id: 6,
          title: 'Sports'
        },
        {
          id: 7,
          title: 'News'
        }
      ]
    }
  }
}
</script>
