<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-row justify="center">
            <v-avatar class="profile" color="grey" size="164" tile>
              <v-img
                src="https://uwosh.edu/deanofstudents/wp-content/uploads/sites/156/2019/02/profile-default.jpg"
              ></v-img>
            </v-avatar>
          </v-row>
          <v-card-title class="text-center">John</v-card-title>
          <v-card-text>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
            illum laboriosam itaque deserunt beatae nostrum, magni aspernatur
            expedita voluptatem hic ipsam sequi, dolor omnis accusantium quo
            perspiciatis. In, voluptas modi!
          </v-card-text>

          <v-card-subtitle>
            <v-row justify="space-between">
              <v-col class="text-center">
                <v-icon>mdi-message</v-icon>20 Comments
              </v-col>
              <v-col class="text-center"> <v-icon>mdi-heart</v-icon>10 </v-col>
              <v-col class="text-center">
                <v-icon>mdi-post</v-icon> Posts 20
              </v-col>
            </v-row>
          </v-card-subtitle>
          <v-card-actions @click.prevent>
            <v-btn
              @click="followed = !followed"
              color="orange"
              text
              class="text-center"
              >{{ followedText }}</v-btn
            >
            <v-spacer></v-spacer>

            <v-btn @click="liked = !liked" :class="{ 'red--text': liked }" icon>
              <v-icon>mdi-heart</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-list-item
            v-for="user in users"
            :key="user.id"
            :to="'/users/' + user.id"
            nuxt
          >
            <v-list-item-title>{{ user.title }}</v-list-item-title>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      followed: false,
      liked: false
    }
  },
  computed: {
    followedText() {
      return this.followed ? 'Unfriend' : 'Friend Request'
    }
  },
  methods: {}
}
</script>
