<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-card-title>Users</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="md-6">
        <v-card>
          <v-list-item
            v-for="user in users"
            :key="user.id"
            :to="'/users/' + user.id"
            nuxt
          >
            <v-list-item-title>{{ user.title }}</v-list-item-title>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      users: [
        {
          id: 1,
          title: 'John'
        },
        {
          id: 2,
          title: 'Doe'
        },
        {
          id: 3,
          title: 'Julie'
        },
        {
          id: 4,
          title: 'Fim'
        },
        {
          id: 5,
          title: 'Tacky'
        },
        {
          id: 6,
          title: 'Ale'
        },
        {
          id: 7,
          title: 'Goat'
        }
      ]
    }
  }
}
</script>
