<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" fixed app clipped>
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar fixed app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" style="width:200px;" />
      <v-text-field placeholder="Search" class="mt-6"></v-text-field>
      <v-spacer />
      <template v-if="$auth.loggedIn">
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" color="blue" class="float-right" fab ripple>
              <v-icon dark>mdi-account-circle</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in menuItems"
              :key="index"
              @click=""
            >
              <v-list-item-title :to="item.to" nuxt>{{
                item.title
              }}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="logout" nuxt>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-else>
        <v-btn color="primary" class="mr-2" nuxt to="/login">Login</v-btn>
        <v-btn nuxt to="/register">Register</v-btn>
      </template>
    </v-app-bar>

    <v-content>
      <nuxt />
    </v-content>

    <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: null,
      fixed: false,
      menuItems: [
        { title: 'Profile', to: '/profile' },
        { title: 'Account', to: '/account' },
        { title: 'Settings', to: '/settings' }
      ],
      items: [
        {
          icon: 'mdi-chart-bubble',
          title: 'Explore',
          to: '/'
        },
        {
          icon: 'mdi-apps',
          title: 'Categories',
          to: '/categories'
        },
        {
          icon: 'mdi-format-list-bulleted',
          title: 'Communities',
          to: '/communities'
        },
        {
          icon: 'mdi-account-group',
          title: 'Users',
          to: '/users'
        }
      ],
      title: 'Universal'
    }
  },
  mounted() {
    // console.log('auth', this.$auth)
  },
  methods: {
    logout() {
      this.$auth.logout()
    }
  }
}
</script>
