<template>
  <v-container>
    <v-row justify="center">
      <v-col md="6">
        <v-card>
          <v-overflow-btn
            :items="postSorting"
            label="Sorty By"
            value="Populair"
          ></v-overflow-btn>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col md="6">
        <Posts :posts="posts"></Posts>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Posts from '@/components/posts/Posts'

export default {
  components: { Posts },
  data() {
    return {
      postSorting: ['Populair', 'Top', 'Controversial', 'Newest', 'Oldest'],
      posts: []
    }
  },
  asyncData(context) {
    return context.$axios.get('/posts').then(({ data }) => {
      return { posts: data.data }
    })
  }
}
</script>
