<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="4">
      <ValidationObserver ref="form" v-slot="{ invalid, validated, passes }">
        <v-card>
          <v-card-title>Login</v-card-title>
          <v-card-text>
            <v-form>
              <ValidationProvider
                name="email"
                rules="required|email"
                v-slot="{ errors, valid }"
              >
                <v-text-field
                  v-model="email"
                  :error-messages="errors"
                  :success="valid"
                  label="Email"
                  name="email"
                  prepend-icon="mdi-account"
                  type="text"
                />
              </ValidationProvider>
              <ValidationProvider
                rules="required"
                name="password"
                v-slot="{ errors, valid }"
              >
                <v-text-field
                  v-model="password"
                  :error-messages="errors"
                  :success="valid"
                  label="Password"
                  name="password"
                  prepend-icon="mdi-lock"
                  type="password"
                />
              </ValidationProvider>
            </v-form>
          </v-card-text>
          <v-card-actions class="row no-gutters">
            <v-col cols="12" class="text-center">
              <span>
                Don't have an account? Click on
                <nuxt-link to="/register">register</nuxt-link>
              </span>
            </v-col>
            <v-col cols="6">
              <v-btn @click="$router.back()" nuxt>Back</v-btn>
            </v-col>
            <v-col cols="6">
              <v-btn
                @click="passes(login)"
                :loading="loading"
                :disabled="invalid || !validated"
                color="primary"
                class="float-right"
                >Login</v-btn
              >
            </v-col>
          </v-card-actions>
        </v-card>
      </ValidationObserver>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'auth',
  data() {
    return {
      email: '',
      password: '',
      loading: false
    }
  },
  methods: {
    login() {
      this.loading = true
      this.$auth
        .loginWith('local', {
          data: {
            email: this.email,
            password: this.password
          }
        })
        .then((res) => {
          this.loading = false
          console.log('res', res)
          // this.$router.push('/')
        })
        .catch((err) => {
          this.loading = false
          console.log('error', err.response)
          // this.$refs.form.setErrors(err.response.data.errors)
        })
    }
  }
}
</script>
