<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="4">
      <v-card>
        <v-card-title>Register</v-card-title>
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="username"
              label="Username"
              name="username"
              prepend-icon="mdi-account"
              type="text"
            />
            <v-text-field
              v-model="email"
              label="Email"
              name="email"
              prepend-icon="mdi-at"
              type="email"
            />
            <v-text-field
              v-model="password"
              label="Password"
              name="password"
              prepend-icon="mdi-lock"
              type="password"
            />
            <v-text-field
              v-model="passwordConfirmation"
              label="Confirm password"
              name="password_confirmation"
              prepend-icon="mdi-lock"
              type="password"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn @click="register" :loading="loading" color="primary"
            >Register</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'auth',
  data() {
    return {
      username: '',
      email: '',
      password: '',
      passwordConfirmation: '',
      loading: false
    }
  },
  methods: {
    register() {
      this.loading = true
      this.$axios
        .post('/register', {
          username: this.username,
          email: this.email,
          password: this.password,
          password_confirmation: this.passwordConfirmation
        })
        .then((res) => {
          return this.$auth.loginWith('local', {
            data: {
              email: this.email,
              password: this.password
            }
          })
        })
        .then((res) => {
          this.loading = false
          this.$router.push('/')
        })
        .catch((e) => {
          this.loading = false
          console.log(e)
        })
    }
  }
}
</script>
