<template>
  <v-container>
    <v-row justify="center">
      <v-col md="10">
        <v-card>
          <v-card-title>{{ title }}</v-card-title>
          <v-img v-if="image" :src="image"></v-img>
          <v-card-text v-if="content">{{ content }}</v-card-text>
          <v-card-subtitle>
            <v-icon>mdi-message</v-icon>20 Comments <v-icon>mdi-heart</v-icon>10
            Likes
            <br />
            {{ createdAt }}
          </v-card-subtitle>
          <v-card-actions @click.prevent>
            <v-spacer></v-spacer>
            <v-btn color="orange" text class="text-center">Share</v-btn>
            <v-btn @click="liked = !liked" :class="{ 'red--text': liked }" icon>
              <v-icon>mdi-heart</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col md="10">
        <v-card>
          <v-card-title>Comments</v-card-title>
          <v-text-field
            placeholder="Type here your comment"
            class="px-4"
          ></v-text-field>
          <v-card-actions @click.prevent>
            <v-spacer></v-spacer>
            <v-btn color="orange" text class="text-center">Submit</v-btn>
          </v-card-actions>
          <v-card-actions @click.prevent>
            <v-overflow-btn
              :items="commentSorting"
              class="my-2"
              label="Sorty By"
              editable
              item-value="text"
              value="Newest"
            ></v-overflow-btn>
          </v-card-actions>
          <v-row v-for="comment in comments" :key="comment.id" class="px-4">
            <v-col cols="2"
              ><v-avatar color="indigo">
                <v-icon dark>mdi-account-circle</v-icon>
              </v-avatar>
              <span class="text-center"></span>
              {{ comment.user }}
            </v-col>
            <v-col cols="10">
              <p>
                {{ comment.content }}
              </p>
              <small class="float-right">
                {{ comment.date }}
              </small>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      liked: false,
      commentSorting: ['Newest', 'Oldest'],
      comments: [
        {
          id: 1,
          user: 'Test',
          content:
            'Vitae velit rem atque fuga minus ad odio. Omnis dolor consequatur, velit exercitationem amet facilis? Magnam, ipsum',
          date: '15/01/2020'
        },
        {
          id: 2,
          user: 'Test12213',
          content:
            'Vitae velit rem atque fuga minus ad odio. Omnis dolor consequatur, velit exercitationem amet facilis? Magnam, ipsum',
          date: '15/01/2020'
        },
        {
          id: 3,
          user: 'Joe',
          content:
            'Vitae velit rem atque fuga minus ad odio. Omnis dolor consequatur, velit exercitationem amet facilis? Magnam, ipsum',
          date: '15/01/2020'
        },
        {
          id: 4,
          user: 'Karen',
          content:
            'Vitae velit rem atque fuga minus ad odio. Omnis dolor consequatur, velit exercitationem amet facilis? Magnam, ipsum',
          date: '15/01/2020'
        },
        {
          id: 5,
          user: 'Lol',
          content:
            'Vitae velit rem atque fuga minus ad odio. Omnis dolor consequatur, velit exercitationem amet facilis? Magnam, ipsum',
          date: '15/01/2020'
        }
      ]
    }
  },
  asyncData(context) {
    return context.$axios
      .get(`/posts/${context.params.id}`)
      .then(({ data }) => {
        return {
          title: data.data.title,
          content: data.data.content,
          image: data.data.image,
          createdAt: data.data.createdAt
        }
      })
  },
  methods: {}
}
</script>
